html{
	position: relative;
}
body{
	margin-bottom: 120px;
	margin-top: 30px;
}

.jumbotron{
	background-image: url('5.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -200px;
	color: white;
	overflow: hidden; 
}


.jumbotron img{
	width: 200px;
	border: 5px solid #333;
	box-shadow: 1px 1px 10px rgba(0,0,0,2);

}
.jumbotron h1, .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}


hr{
	width: 250px;
	border-top: 3px solid #999;

}

.section{
	min-height: 600px;
}

.pkiri, .pkanan{
	opacity: 0;
	transform: translate(-50px, 0) rotate(15deg);
	transition: 1s;
}

.pkanan{
	transform: translate(50px, 0) rotate(-15deg);
}
.pkiri.pmuncul, .pkanan.pmuncul{
	opacity: 1;
	transform: translate(0,0);
}

.portfolio{
	background-color: #eee;
}

.portfolio .thumbnail{
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;
}

.portfolio .thumbnail.muncul{
	opacity: 1; 
	transform: translate(0,0);
}

.contact{
	min-height: 800px;
}

footer{
	position: absolute;
	width: 100%;
	bottom:0; 
	height: 120px;
	background-color: #333;
	padding-top: 30px;

}
footer p{
	color: #aaa;
	font-size: 1em;
}

footer p i {
	color: salmon;
}